.Store {
    background-color: teal;
    height: 100%;
    width: 100%;
    display: flex;
}

.StoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.StoreWrapper {
    background-color: teal;
}