.Faq {
    background-color: teal;
    width: 100%;
    display: flex;
    padding-top: calc(7vh + 5px);
    padding-bottom: calc(7vh + 5px);
}

.FaqContainer {
    /* display: flex;
    flex-flow: row nowrap; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: calc(7vh + 20px);
    padding-bottom: calc(7vh + 80px);
    max-width: 650px;
}

.FaqHeadlineWrapper {
    margin-top: 50px;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.FaqHeadline {
    font-size: 3rem;
    color: #fff;
}
.FaqTextWrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    max-width: 650px;

}

.FaqText {
    font-size: 1.2rem;
    color: #fff;
}

.FaqWrapper {
    background-color: teal;
}
