.AboutUs {
    background-color: teal;
    height: 100%;
    width: 100%;
    display: flex;
}

.AboutUsContainer {
    width: 100%;
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.StoryCardsContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 150px;
    padding-bottom: calc(10vh + 10px);
}

.StoryCardsWrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.Storycard_container {
    position: relative;
    margin: 24px;
    width: 320px;
    height: 570px;
    overflow: hidden;
}

.Storycard_imagecontainer {
    box-sizing: border-box;
    position: relative;
    margin: 5px 0px 5px 0px;
    width: 100%;
    height: 50%;
}

.Storycard_image {
    position: relative;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 320px) {
    .Storycard_intorduction {
        font-size: 0.8rem;
    }
}