.Gallery {
    background-color: teal;
    height: 100%;
    width: 100%;
    display: flex;
}

.GalleryContainer {
    width: 100%;
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.GalleryHeadlineWrapper {
    margin-top: 50px;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.GalleryHeadline {
    font-size: 3rem;
    color: #fff;
}
.GalleryTextWrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    max-width: 650px;

}

.GalleryText {
    font-size: 1.2rem;
    color: #fff;
}

.GallerysContainer{
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    position:relative;
}
.GalleryWrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}