.App {
  background-color: teal;
  width: 100%;
  /* display:inline-flex; */
  display: inline-grid;
}
.SporaHeroContainer {
  height: 100%;
  width: 100%;
  /* margin: 73px 25px 0px 25px; */
  display: inline-grid;
}
.SporaHero {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
